
.button {
  background: $blue;
  color: #ffffff;
  border: none;
  padding: $s-size;
  font-size: $font-size-large;
  font-weight: 300;
  border-radius: 4px;
  display: inline-block;
  text-decoration: none;
  line-height: 1;
}


.button--link{
  background: none;
}
.button-group {
  display: flex;
}

.button--secondary{
  background: #888888;
  font-size: $font-size-medium;
  z-index: 10000;
  transition: background .3s ease;
  margin-right: $s-size;
  margin-top: $s-size;
  &:hover {
    background: $blue;
  }
}
